<div class="container">
    <h1 class="text-center mt-5">To-Do List</h1>
    <div class="form-group mt-5">
        <label>Enter ToDo and press enter...</label>
        <input
            type="text"
            class="form-control"
            (keyup.enter)="addToDoList($event)">
    </div>

    <ng-container *ngIf="isLoader">
        {{loaderMessage}}
        <mat-progress-bar mode="indeterminate" class="mb-3"></mat-progress-bar>
    </ng-container>    

    <ng-container *ngIf="toDoList.length>0;else noDataFound">
        <div  *ngFor="let item of toDoList;" class="row">
            <app-todo-list
                [toDoItem]="item"                
                (deleteItem)="deleteItem($event)"
                class="col-12">
            </app-todo-list>
        </div>
    </ng-container>
    <ng-template #noDataFound>No ToDo data found.</ng-template>
</div>