<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-dark mt-5">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Department</th>
                        <th scope="col">Designation</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of employeeList">
                        <td>{{emp.id}}</td>
                        <td>{{emp.firstName}}</td>
                        <td>{{emp.age}}</td>
                        <td>{{emp.department}}</td>
                        <td>{{emp.designation}}</td>
                        <td>
                            <button 
                                (click)="onDelEmployee(emp.id)"
                                mat-icon-button>
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button 
                mat-raised-button
                color="accent"
                (click)="onAdd()"
                type="button">Add</button>
            <button 
                mat-raised-button
                color="accent"
                (click)="onEdit()"
                type="button" 
                class="ml-2">Edit</button>
        </div>
    </div>
</div>